<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static  'style.css'%}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        
</head>
<body>
    <h1>Login</h1>
   <select name="type" >
    <option value="driver">Driver</option>
    <option value="police">Police</option>
   </select> 
   <form action="/signin" method="post">
    {% csrf_token %}
    <div class="user-input-box">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" />
    </div>
    <div class="user-input-box">
        <label for="password">Email</label>
        <input type="password" id="password" name="password" />
        <div class="form-submit-btn">
            <input type="submit" value="Login">
        </div>
   </form>
</body>
</html>